<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="RC Sailboats" />
<meta name="author" content="Paul-Henri Decamp" />
<title>Dyna Wing Sail</title>
<link href="stylesheets/bootstrap.min.css" rel="stylesheet" />
<link href="stylesheets/aos.css" rel="stylesheet" />
<link href="stylesheets/animate.min.css" rel="stylesheet" />
<link href="{{style}}" rel="stylesheet" />