<section class="container-contact">
  <div class="container-fluid">
      <div class="row justify-content-center row-contact">
        <div class="col-xs-12 col-md-8">
        <h2 style="text-align:center; color:red">CONDITIONS GENERALES D'UTILISATION</h2>
        <br>
        <p>
        La visite d’une ou plusieurs pages du Site <a href="http://www.dynawingsail.com/" target="_blank">www.dynawingsail.com</a>/ par toute personne ou utilisateur  vaut acceptation des conditions d’utilisation ci-après décrites. Tout utilisateur reconnaît en avoir pris connaissance et les accepter.  DWS Dyna Wing Sail se réserve le droit, à sa seule discrétion et à tout moment, de changer, modifier, compléter ou supprimer des parties de ces Conditions d'utilisation. Il est de votre responsabilité de consulter périodiquement ces Conditions d'utilisation pour voir si des modifications y ont été apportées. Si vous continuez à utiliser le Site après publication des modifications apportées, cela signifiera que vous acceptez lesdites modifications.<br>
        <br>
        <h3>ACCES AU SITE</h3><br>
        DWS Dyna Wing Sail se réserve le droit de modifier, de résilier, de suspendre, ou d’interrompre à tout moment, pour toutes raisons et à sa seule discrétion, l’accès à tout ou partie du Site, y compris notamment le contenu, les fonctionnalités ou les heures de disponibilité sans avis préalable.
        DWS Dyna Wing Sail s'efforce de maintenir accessible le Site, sans pour autant être tenu à une obligation d'y parvenir. DWS Dyna Wing Sail ne pourra être tenu responsable, en cas d'indisponibilité du Site, pour quelque raison que ce soit.<br>
        <br>
        <br>
        <h3>COMPTES, MOTS DE PASSE ET SECURITE</h3><br>
        Certains services et fonctionnalités offerts sur ou via le Site peuvent nécessiter l'ouverture d'un compte (y compris la configuration d'un identifiant DWS et d'un mot de passe). Vous avez l'entière responsabilité de préserver la confidentialité des informations relatives à votre compte, notamment votre mot de passe, et de toutes les opérations effectuées sous votre compte. Vous vous engagez à prévenir DWS immédiatement en cas d'utilisation non autorisée de votre compte ou de votre mot de passe, ou de toute violation de la sécurité. Toutefois, vous pourrez être tenu pour responsable des préjudices subis par DWS ou par tout autre utilisateur ou visiteur du Site dû à l'utilisation de votre identifiant DWS, votre mot de passe ou votre compte par une autre personne.<br>
        <br>
        Vous n'êtes pas autorisé à utiliser l'identifiant DWS, le mot de passe ou le compte d'une autre personne, à quelque moment que ce soit, sans l'autorisation et l'accord explicites du détenteur de cet identifiant DWS, de ce mot de passe ou de ce compte. DWS Dyna Wing Sail ne pourra être tenue pour responsable des préjudices découlant de votre manquement à respecter ces obligations.
        <br>
        <br>
        <h3>LIMITATION DE RESPONSABILITÉ</h3><br>
        DWS Dyna Wing Sail sas communique des informations sur des produits et services. Les informations d’ordre général  ou concernant ces produits et services sont indicatives et n’ont pas de valeurs contractuelles. Elles sont susceptibles d'être modifiées à tout moment. Les informations diffusées n'engagent pas la responsabilité de DWS Dyna Wing Sail.
        L’utilisation par l’utilisateur des informations contenues dans ce site est de la seule responsabilité de celui ou celle-ci.<br>
        <br>
        DWS Dyna Wing Sail décline toute responsabilité pour toute survenance de bogues ou pour tous dommages résultant d'une intrusion frauduleuse d'un tiers ayant entraîné une modification des informations mises à la disposition sur le site et plus généralement pour tous dommages, direct ou indirect, qu'elles qu'en soient les causes, origines, natures ou conséquences, provoqués à raison de l'accès de quiconque au Site ou de l'impossibilité d'y accéder. En particulier, DWS Dyna Wing Sail décline toute responsabilité pour les dommages qui pourraient être causés au matériel informatique des utilisateurs suite à leurs accès au présent Site.<br>
        <br>
        <br>
        <h2 style="text-align:center; color:red">CONDITIONS D'UTILISATION DU SITE</h2>
        <br>
        <h3>PROPRIETE INTELLECTUELLE</h3><br>
        Le Site et chacun des éléments qui le composent (tels que, notamment marques, les logos, les photographies, les images, les illustrations, les textes, les slogans, les vidéos, le catalogue...) sont la propriété exclusive de DWS Dyna Wing Sail, seule habilitée à utiliser les droits de la propriété intellectuelle et droits de la personnalité y afférent.
        <br>
        Les informations figurant sur notre site internet sont régulièrement vérifiées et réactualisées par DWS Dyna Wing Sail. Malgré toute notre vigilance, il est possible que certaines données évoluent et ne soient pas mises à jour immédiatement. Aucun recours contre notre société ne peut être engagé à ce titre. Ceci est également valable pour tous les autres sites Web sur lesquels vous arrivez au moyen d'un lien hypertexte à partir de notre site. DWS Dyna Wing Sail décline toute responsabilité concernant le contenu de ces sites.<br>
        <br>
        La reproduction de tous documents publiés sur le Site est seulement autorisée aux fins exclusives d’information pour un usage strictement personnel et privé. La reproduction et/ou la représentation et/ou diffusion du site <a href="http://www.dynawingsail.com/" target="_blank">www.dynawingsail.com</a>, totale ou partielle, de quelque manière et par quelque moyen que ce soit, d'un ou plusieurs éléments qui les composent sont protégés au titre du droit d'auteur, droit des marques et droit à l'image et est expressément interdite.
        <br>
        Toute reproduction et/ou représentation du site devra faire l'objet d'une autorisation expresse et préalable de DWS Dyna Wing Sail. Toute utilisation non autorisée constitue une contrefaçon pouvant engager la responsabilité pénale et/ou civile de son auteur, DWS Dyna Wing Sail, se réservant le droit d’'engager toute poursuite judiciaire à l'encontre dudit auteur.
        <br>
        La création de liens hypertextes vers le site ne peut être réalisée qu'avec l'autorisation écrite et préalable de DWS Dyna Wing Sail. DWS Dyna Wing sail décline toute responsabilité concernant le contenu, la publicité, les produits ou services disponibles sur ou à partir des sites liés au Site.
        Les marques citées sur <a href="http://www.dynawingsail.com/" target="_blank">www.dynawingsail.com</a>  sont des marques déposées et donc protégées et sont la pleine propriété de DWS Dyna Wing Sail.
        <br>
        <br>
        <h3>EXLUSION DE RESPONSABILITES</h3><br>
        DWS Dyna Wing Sail ne saurait être tenue responsable des dommages directs, indirects ou autres qui pourraient résulter de l’accès ou de l’utilisation du Site ou des informations y figurant.<br>
        <br>
        <h3>UTILISATION ET PROTECTION DES DONNEES</h3><br>
        DWS Dyna Wing Sail pourra être amenée à collecter et à conserver des informations à caractère personnel concernant l’utilisateur du site.<br>
        Les données personnelles collectées sont notamment vos nom, prénom, adresse, adresse email, mot de passe, date de naissance, numéro de téléphone, données de connexions et données de navigation, et historiques de commandes. Le caractère obligatoire ou facultatif des données vous est signalé lors de la collecte par un astérisque. Certaines données sont collectées automatiquement du fait de vos actions sur le site.<br>
        <br>
        Elles sont notamment destinées au traitement des commandes et à la gestion du compte client. Elles peuvent aussi être utilisées à des fins d’études marketing et statistiques. Elles permettent aussi d’organiser des évènements entre membres ou clients.
        <br>
        Pour en savoir plus sur la politique de DWS Dyna Wing Sail sur la protection des données personnelles de ses clients, veuillez consulter la Politique de vie privée
        <br>
        DWS Dyna Wing Sail s'engage à préserver la confidentialité des données personnelles transmises par l'utilisateur dans le cadre de l'utilisation du Site. Elles sont exclusivement destinées à DWS Dyna Wing Sail et sont conservées pour une durée n'excédant pas les finalités pour lesquelles elles ont été collectées.
        <br>
        Sous réserve d'avoir obtenu le consentement exprès de l'utilisateur lors de la collecte de données, DWS Dyna Wing Sail pourra adresser à l'Utilisateur des prospections directes ou newsletters par courrier électronique.
        <br>
        Conformément à la loi française "Informatique et libertés" n°78-17 du 6 janvier 1978, l’utilisateur dispose d'un droit d'opposition, d'accès, de modification, de rectification et de suppression des données personnelles le concernant.<br>
        Ce droit peut être exercé par :<br>
        - courrier à DWS Dyna Wing Sail – 158 rue faidherbe 62400 BETHUNE<br>
        - courriel : <a href="mailto:info@dynawingsail.com"> info@dynawingsail.com </a><br>
        <br>
        <h3>DROIT APPLICABLE</h3><br>
        Les règles en matière de droit, applicables aux contenus du Site et aux transmissions de données sur le Site sont régies par la réglementation française Tout différend relatif au site <a href="http://www.dynawingsail.com/" target="_blank">www.dynawingsail.com/</a>  sera soumis à la compétence exclusive des tribunaux de Béthune.<br>
        </p>
        </div>
      </div>
  </div>
</section>
