<section class="container-contact">
  <div class="container-fluid">
      <div class="row justify-content-center row-contact">
        <div class="col-xs-12 col-md-8">
        <h2>MENTIONS LEGALES</h2>
        <p>
          DWS Dyna Wing Sail SAS est heureux de vous accueillir sur son site  <a href="http://www.dynawingsail.com/" target="_blank">www.dynawingsail.com</a>.<br>
          DWS Dyna Wing Sail est une Sas au capital de 650 000 euros.<br>
          Siège social - 158 rue Faidherbe 62400 Béthune<br>
          Immatriculé au  RCS d’Arras sous le N° 802 029 124 00012 (SIRET)<br>
          N° TVA Intracommunautaire : FR  56 802 029 124<br>
          APE : 7112B<br>
          <br>
          Pour tout contact : <a href="mailto:info@dynawingsail.com"> info@dynawingsail.com </a><br>
          <br>
          L’hébergement du site est réalisé par :<br>
          Société GANDI.net    63-65 boulevard Massena 75013 Paris, France<br>
          Tel : 33 (0) 1 70.37.76.61<br>
          SIRET N° : 423 093 459 00042<br>
          <br>
          <br>
          Création Graphique : DWS Dyna Wing Sail<br>
          Conception et réalisation technique : Wild Code School de Lille, 4 avenue des Saules, bâtiment Le Doge, 59160 Lille <br>
          Mail : <a href="mailto:olivier@wildcodeschool.fr"> olivier@wildcodeschool.fr </a>, Site Internet : <a href="http:// www.wildcodeschool.fr" target="_blank">www.wildcodeschool.fr</a><br>
          <br>
          Directeur de la publication : Paul-Henri DECAMP<br>
          Responsable de la rédaction : Paul Henri DECAMP<br>
        </p>
        </div>
      </div>
  </div>
</section>
